{% extends 'base.html.twig' %}

{% block body %}
    <div class="layout">
        {% block sidebar %}
            {% include 'admin/base/sidebar.html.twig' %}
        {% endblock %}

        <div class="main-area">
            {% block navbar %}
                {% include 'admin/base/navbar.html.twig' %}
            {% endblock %}

            <main class="content-area">
                {% block bodyContent %}
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
