{% extends 'admin/internal_base.html.twig' %}

{% block adminContent %}
    <div class="d-flex">
        {{ include('admin/base/sidebar.html.twig') }}

        <div id="main-content" class="main-content flex-grow-1 p-4" style="margin-left: 250px;">

        </div>
    </div>
{% endblock %}


