@import "bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "alertifyjs/build/css/alertify.css";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "scss/admin";
@import "scss/user";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #495057;
    color: white;
    padding: 8px 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.nav-link {
    font-weight: 600;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    transition: 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #088178;
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: #088178 !important;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.nav-link.active {
    color: #088178 !important;
}

.nav-link.dropdown-toggle::after {
    display: none !important;
}

.navbar-admin .form-control {
    background-color: white;
    color: #2e2e3e;
    border: none;
}











