<nav class="sidebar position-relative">
    <div class="sidebar-content w-100">
        <div class="scrollbar-container h-100 w-100 d-flex justify-content-center flex-column">
            <a href="#" class="sidebar-brand d-flex justify-conten-center align-items-center gap-1 py-2 text-center">
                <img src="{{ asset('imgAdmin/logo.png') }}" alt="Logo" style="height: 40px;">
                <span class="align-middle me-3 text-uppercase text-white fw-bold fs-5 p-2">Cara</span>
            </a>
        </div>
    </div>
</nav>
