{% extends 'admin/internal_base.html.twig' %}

{% block bodyContent %}
    <h2 class="mb-4">Revenue Insights</h2>
    <div class="card p-4 shadow-sm">
        <canvas id="monthlyRevenueChart"></canvas>
    </div>
{% endblock %}
